@model Empmagnt_Assessment.Models.User


<h2>Login</h2>

@using (Html.BeginForm("Adminlogin", "Admin", FormMethod.Post, new { @class = "mt-4" }))
{
    <div class="mb-3">
        @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Username" })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" />
    </div>
}
